<div class='container'>
      <div class='row'>
        <ul class='list-inline'>
          <li class="{{currentNav == 1 ? 'selected' : '' }}"><a href='#/popular'>Popular</a></li>
          <li class="{{currentNav == 2 ? 'selected' : '' }}"><a href='#/upcoming'>Upcoming</a></li>
          <li class="{{currentNav == 3 ? 'selected' : '' }}"><a href='#/nowPlaying'>Now Playing</a></li>
          <li class="{{currentNav == 4 ? 'selected' : '' }}"><a href='#/topRated'>Top Rated</a></li>
        </ul>
      </div>
</div>